@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
::-moz-selection {
    background-color: #48dbfb60;
}
::selection {
    background-color: #48dbfb60;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #353b48;
}
.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: 0.3s linear;
}
.logo {
    width: 250px;
    height: 90px;
}
.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}
.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}
.menu-toggler span {
    display: block;
    height: 3px;
    background-color: red;
    margin: 6px 0;
    position: relative;
    transition: 0.3s linear;
}
.navbar-menu a {
    margin-left: 10px;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 15px;
    border-radius: 4px;
    transition: 0.3s linear;
    font-family: "Rubik One", sans-serif;
}
.sign {
    background-color: gold;
    border: 3px solid white;
}
.navbar-menu a:hover {
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
}
.sticky {
    background-color: #fff;
    padding: 1px 0;
}
.sticky .navbar-menu a {
    color: #090808;
}
.sticky .menu-toggler span {
    background-color: #000000;
}
#home {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(
        125deg,
        #2c3e50,
        #27ae60,
        #2980b9,
        #e74c3c,
        #8e44ad
    );
    background-size: 400% 400%;
    background-position: cover;
    background-attachment: fixed;
    -webkit-animation: bganimation 15s infinite;
    animation: bganimation 15s infinite;
}
@-webkit-keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#home .content {
    width: 100%;
    color: gold;
}
#home .content h1 {
    font-family: "Rubik One", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgb(22, 19, 15), rgb(50, 45, 28));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    margin: 20px auto;
    text-shadow: -4px -4px 0px #d2ead7;
}
#home .content h1::after {
    content: "Реставрация фото";
    -webkit-animation: textanim 20s linear infinite;
    animation: textanim 20s linear infinite;
}
@-webkit-keyframes textanim {
    10% {
        content: "Фото на документы";
    }

    20% {
        content: "Цифровая печать фото";
    }

    30% {
        content: "Ретушь фото";
    }

    40% {
        content: "Печать на кружках и тарелках";
    }

    50% {
        content: "Пазлы";
    }

    60% {
        content: "Печать на холсте";
    }

    70% {
        content: "Foto pentru acte";
    }

    80% {
        content: "Imprimare foto digitală";
    }

    90% {
        content: "Imprimarea pe căni și farfurii";
    }

    100% {
        content: "Restaurarea pozelor";
    }
}
@keyframes textanim {
    10% {
        content: "Фото на документы";
    }

    20% {
        content: "Цифровая печать фото";
    }

    30% {
        content: "Ретушь фото";
    }

    40% {
        content: "Печать на кружках и тарелках";
    }

    50% {
        content: "Пазлы";
    }

    60% {
        content: "Печать на холсте";
    }

    70% {
        content: "Foto pentru acte";
    }

    80% {
        content: "Imprimare foto digitală";
    }

    90% {
        content: "Imprimarea pe căni și farfurii";
    }

    100% {
        content: "Restaurarea pozelor";
    }
}
.sm {
    margin: 20px 0;
}
.sm a {
    color: rgb(29, 29, 29);
    font-size: 30px;
    margin: 0 20px;
    transition: 0.2s linear;
}
.sm a:hover {
    color: #48dbfb;
}
#home .buttons {
    margin-top: 60px;
}
#home .buttons a {
    display: inline-block;
    margin: 15px 30px;
    color: #f3a322;
    font-size: 20px;
    font-weight: 500;
    width: 180px;
    border: 1px solid white;
    padding: 14px 0;
    border-radius: 6px;
    transition: 0.2s linear;
}
#home .buttons a:hover,
#home .buttons a:nth-child(2) {
    display: inline-block;
    margin: 15px 30px;
    color: #f3a322;
    font-size: 20px;
    font-weight: 500;
    width: 180px;
    border: 1px solid white;
    padding: 14px 0;
    border-radius: 6px;
    transition: 0.2s linear;
}
section {
    padding: 100px 0;
    background-color: #f1f1f1;
}
.section-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
}
.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
}
.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
}
.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-pic {
    width: 200px;
    margin-right: 100px;
}
.about-pic-serv {
    width: 200px;
    margin-right: 100px;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
.about-text {
    flex: 1;
}
.about-text h3 {
    margin: 10px 0;
    color: #444;
    font-size: 16px;
}
.about-text h2 {
    text-align: left;
    font-size: 40px;
}
.textr {
    margin: 10px 0;
    color: #444;
    font-size: 25px;
}
.about-text p {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.about-text-main {
    flex: 1;
}
.about-text-main h2 {
    text-align: left;
    font-size: 40px;
}
.about-text-main p {
    font-size: 25px;
    text-align: justify;
    margin-top: 20px;
}
.skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skillsh1 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.skill {
    width: calc(50% - 20px);
    margin: 15px 0;
}
.skill-info {
    display: flex;
    justify-content: space-between;
}
.skill-bar {
    height: 3px;
    background-color: #ddd;
    margin-top: 14px;
    position: relative;
}
.skill-bar::after {
    content: "";
    position: absolute;
    height: 6px;
    background-color: #1bef03;
    bottom: 0;
}
.html:after {
    width: 50%;
}
.css:after {
    width: 80%;
}
.js:after {
    width: 70%;
}
.php:after {
    width: 60%;
}
.mysql:after {
    width: 90%;
}
.cs:after {
    width: 80%;
}
section.dark1 {
    padding: 200px 0;
    height: 100%;
    min-height: 500px;
    background-image: linear-gradient(
        125deg,
        #2c3e50,
        #27ae60,
        #2980b9,
        #e74c3c,
        #8e44ad
    );
    background-blend-mode: darken;
    background-size: 400% 400%;
    background-attachment: fixed;
    -webkit-animation: bganimation 15s infinite;
    animation: bganimation 15s infinite;
}
section.dark {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(45deg, #f8a261, #6e9fc9);
    background-blend-mode: darken;
    background-size: 100% 100%, 4px 4px, cover;
    background-attachment: fixed;
}
section.dark .section-title {
    color: #f1f1f1;
}
section.dark .section-title::before {
    background-color: #f1f1f1;
}
section.dark .section-title::after {
    border: 4px solid #353b48;
}
section.dark3 {
    background-color: #f1f1f1;
}
section.dark3 p {
    color: #000000;
}
section.dark3 .skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #030303;
}
section.dark3 .section-title {
    color: #030303;
}
section.dark3 .section-title::before {
    background-color: #f1f1f1;
}
section.dark3 .section-title::after {
    border: 4px solid #353b48;
}
section.dark5 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service {
    width: calc(33% - 20px);
    text-align: center;
    border: 2px solid white;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s linear;
}
.service a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
}
.service .icon {
    color: gold;
    font-size: 40px;
    margin-bottom: 20px;
    transition: 0.3s linear;
}
.service h4 {
    font-size: 16px;
    margin-bottom: 6px;
}
.service:hover {
    background-color: #f3a322;
}
.service:hover .icon {
    color: #fff;
}
.time-line,
.works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
    box-shadow: 0px 0px 10px #bebebe;
    border-radius: 15px;
}
.block .icon {
    color: rgb(3, 187, 73);
    font-size: 40px;
    margin-bottom: 20px;
    transition: 0.3s linear;
}
.block h3 {
    font-size: 18px;
    margin: 10px 0;
}
.block h4 {
    font-size: 25px;
    margin: 10px 0;
    color: #0f6e66;
}
.block p {
    font-size: 15px;
    color: #444;
}
.work {
    width: calc(33% - 10px);
    overflow: hidden;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.work img {
    width: 100%;
    height: 100%;
    transition: 0.4s linear;
}
.work::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(217, 100, 20, 0.8);
    transition: 0.2s linear;
    opacity: 0;
    transform: scale(0);
}
.work .info {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: #fff;
    transition: 0.4s linear;
    opacity: 0;
}
.work:hover img {
    transform: scale(1.2);
}
.work:hover::before,
.work:hover .info {
    opacity: 1;
    transform: scale(1);
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.contact-info .item {
    width: calc(33% - 20px);
    height: 160px;
    background-color: #353b48;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
.contact-info i {
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}
.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #353b48;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #fff;
}
.nameZone,
.emailZone {
    max-width: calc(50% - 10px);
}
.messageZone {
    min-height: 200px;
    resize: none;
}
.contact-form .btn {
    width: 180px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s linear;
}
.contact-form .btn:hover {
    background-color: gold;
    color: #fff;
}
footer {
    padding: 5px 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.logofooter {
    width: 180px;
}
.right-col h1 {
    font-family: "Rubik One", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgb(22, 19, 15), rgb(50, 45, 28));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    margin: 20px auto;
    text-shadow: -4px -4px 0px rgb(158, 17, 17);
}
.border {
    width: 100%;
    height: 4px;
    background: #fc5c65;
    margin-bottom: 10px;
}
.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}
.btn {
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.3s linear;
    text-align: center;
}
.btn:hover {
    opacity: 0.7;
}
.page-content {
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 960px) {
    .footer-container {
        max-width: 600px;
    }

    .right-col {
        text-align: center;
        width: 100%;
        margin-bottom: 60px;
    }

    .left-col {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    .btn {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
}
.goTop {
    position: fixed;
    z-index: 999;
    top: 89%;
    bottom: 40px;
    left: 10px;
    margin: auto;
    width: 60px;
    height: 60px;
    background-color: #48dbfb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
}
.icons a {
    background: #ecf0f3;
    position: relative;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 7px 7px 21px -2px rgba(33, 30, 30, 0.75);
    -webkit-box-shadow: 7px 7px 21px -2px rgba(33, 30, 30, 0.75);
    -moz-box-shadow: 7px 7px 21px -2px rgba(33, 30, 30, 0.75);
}
.icons a:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 60px;
}
.icons a:hover i {
    transform: scale(0.9);
}
.icons a.viber i {
    color: #9522c2;
}
.icons a.whatsapp i {
    color: #0eb145;
}
.icons a.telegram i {
    color: #27b2e9;
}
.icons a.git i {
    color: #333;
}
.icons a.yt i {
    color: #ff0000;
}
@media screen and (max-width: 980px) {
    .menu-toggler {
        display: block;
    }

    section.dark {
        height: 100%;
    }

    .icons a {
        background: #ecf0f3;
        position: relative;
        height: 40px;
        width: 40px;
        margin: 0 10px;
        display: inline-flex;
        text-decoration: none;
        border-radius: 50%;
        transition: all 0.3s;
    }

    .icons a i {
        position: relative;
        z-index: 3;
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 25px;
        line-height: 40px;
    }

    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #0f6e66;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: 0.3s linear;
        overflow-y: scroll;
    }

    .navbar-menu a {
        display: block;
        font-size: 20px;
        margin: 30px 0;
    }

    .sign {
        display: block;
        font-size: 30px;
        margin: 30px 0;
        text-align: center;
    }

    .sticky .navbar-menu {
        background-color: #f1f1f1;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }

    .inner-width {
        max-width: 800px;
    }

    .about-pic {
        margin: 0 auto 60px;
    }

    .about-pic-serv {
        margin: 0 auto 60px;
    }

    .about-text {
        flex: 100%;
        text-align: center;
    }

    .about-text h2 {
        font-size: 45px;
        text-align: center;
        margin-top: 20px;
    }

    .about-text p {
        font-size: 25px;
        text-align: justify;
        margin-top: 20px;
    }

    .about-text p {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
    }

    .about-textsouv {
        flex: 100%;
        text-align: center;
    }

    .about-text-main {
        flex: 100%;
        text-align: center;
    }
    
    .about-text-main h2 {
        font-size: 45px;
        text-align: center;
        margin-top: 20px;
    }
    
    .about-text-main p {
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
    }

    .service {
        width: calc(50% - 20px);
    }

    .block {
        width: calc(100% - 0px);
        margin-left: auto;
    }

    .work {
        width: calc(50% - 10px);
    }

    .contact-info .item {
        width: 100%;
        margin: 10px 0;
    }
}
@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .skill {
        width: 100%;
    }

    .service {
        width: 100%;
    }

    .work {
        width: 100%;
    }

    .nameZone,
    .emailZone {
        max-width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .inner-width {
        padding: 0 20px;
    }

    #home .content h1 {
        font-family: "Rubik One", sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        background: linear-gradient(
            180deg,
            rgb(235, 232, 229),
            rgb(236, 191, 41)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0b2349;
        display: table;
        margin: 20px auto;
        text-shadow: none;
    }

    .skill {
        width: 100%;
    }

    .service {
        width: 100%;
    }

    .work {
        width: 100%;
    }

    .nameZone,
    .emailZone {
        max-width: 100%;
    }
}
.gallery-section {
    width: 100%;
    padding: 60px 0;
    background: inherit;
}
.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.gallery-section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #020202;
}
.border {
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
}
.gallery-section .gallery {
    display: flex;
    justify-content: center;
}
.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    margin: 3%;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
.gallery-section .image img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 960px) {
    .gallery-section .image {
        flex: 33.33%;
    }
}
@media screen and (max-width: 768px) {
    .gallery-section .image {
        flex: 50%;
    }
}
@media screen and (max-width: 480px) {
    .gallery-section .image {
        flex: 100%;
    }
}
.alert {
    font-family: "Rubik One", sans-serif;
    color: #ffffff;
    display: table;
    margin: 20px auto;
    font-size: 17px;
    text-align: center;
}
.alert ul {
    text-align: left;
}
.zebra {
    list-style: none;
    border-left: 10px solid #211e1e;
    padding: 0;
}
.zebra li {
    padding: 10px;
}
.alert li {
    margin: 5px;
}
.transform-border {
    position: relative;
    max-width: 400px;
    margin: 50px auto;
    transform: perspective(3000px) rotateY(20deg);
}
.transform-border img {
    display: block;
    width: 100%;
    box-shadow: -12px 11px 1px #e4eae5;
    border-radius: 5%;
}
.transform-border:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -22px;
    top: 22px;
    background: #1c1919;
    z-index: -1;
    border-radius: 5%;
}
.dbl-border {
    position: relative;
    display: table;
    margin: 50px auto;
    float: left;
}
.dbl-border img {
    max-width: 250px;
    height: auto;
    display: block;
}
.dbl-border:before,
.dbl-border:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #40d8ec;
}
.dbl-border:before {
    top: -15px;
    left: -15px;
}
.dbl-border:after {
    right: -15px;
    bottom: -15px;
}
.image-wrapper {
    position: relative;
    z-index: 2;
    padding: 5px;
    background: white;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.about-textsouv {
    float: left;
    width: 55%;
    position: relative;
}
.descrip {
    font-family: Arial;
    font-size: 30px;
    font-weight: 600;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#ffffff),
        to(#fc8f8f)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
    float: left;
}
.gallery-sectionex {
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
}
.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.gallery-sectionex h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(19, 17, 17);
}
.border {
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
}
.gallery-sectionex .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.gallery-sectionex .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}
.gallery-sectionex .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.gallery-sectionex .image:hover img {
    transform: scale(0.9);
}
@media screen and (max-width: 960px) {
    .gallery-sectionex .image {
        flex: 33.33%;
    }
}
@media screen and (max-width: 768px) {
    .gallery-sectionex .image {
        flex: 50%;
    }
}
@media screen and (max-width: 480px) {
    .gallery-sectionex .image {
        flex: 100%;
    }
}
.grafik-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grafik-test div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 80px;
    background: #fff;
    border-radius: 5px;
    margin: 10px !important;
    box-shadow: 0px 0px 10px #bebebe;
}
.grafik-test h3 {
    font-size: 16px;
    margin: 8px;
}
.grafik-test h4 {
    font-size: 16px;
    margin: 5px;
    color: #0f6e66;
}
.grafik-test div span {
    margin: 10px;
}
.grafik-test div.today {
    background: #ef7f11;
    color: #fff;
}
.sectionim {
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.sectionim .lightBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}
.lightBox .lightBox_content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 950px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.lightBox_content .close {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}
.lightBox_content .close:hover {
    opacity: 1;
}
.sectionim .logo_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.sectionim .logo_icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sectionim .logo_icons .logoImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.sectionim .logo_icons .text_content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.logo_icons .text_content .followers {
    font-size: 13px;
    margin-top: -5px;
}
.sectionim .logo_icons .icons i {
    height: 35px;
    width: 35px;
    background: #ccc;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.lightBox .logo_icons .icons i:hover {
    color: #fff;
    background: #7d2ae8;
}
.sectionim .lightBox .showImg {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.lightBox .showImg .image {
    max-height: 700px;
    max-width: 900px;
}
.showImg .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.sectionim .image-gallery {
    max-width: 1300px;
    min-height: 100vh;
    width: 100%;
    background: #fff;
    margin: auto;
}
.image-gallery header {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background: #24292d;
    padding: 20px 0;
    letter-spacing: 1px;
}
.image-gallery .image-container {
    -moz-columns: 3;
         columns: 3;
    margin-top: 20px;
    gap: 15px;
}
.image-container img {
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image-container .image-box {
    position: relative;
    cursor: pointer;
    margin: 10px 0;
}
.image-box .logo_icons {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.image-box:hover .logo_icons {
    opacity: 1;
    pointer-events: auto;
}
.image-box .logo_icons .icons i {
    color: #b4b4b4;
    background: #fff;
}
.logo_icons .icons i:hover {
    color: #707070;
}
.sectionim .image-gallery .logo_icons .text_content {
    color: #fff;
    font-size: 14px;
}
.sectionim .image-gallery .text_content .followers {
    font-size: 12px;
    font-weight: 400;
    margin-top: -4px;
}
@media (max-width: 1034px) {
    .lightBox_content .close {
        top: -40px;
        left: 10px;
    }
}
@media (max-width: 1002px) {
    .image-gallery .image-container {
        -moz-columns: 2;
             columns: 2;
    }
}
@media (max-width: 602px) {
    .image-gallery .image-container {
        -moz-columns: 1;
             columns: 1;
    }
}
@media (max-width: 602px) {
    .image-gallery header {
        font-size: 25px;
    }
}
.container {
    display: flex;
    justify-content: center;
}
.heading_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #091314;
}
.heading_container h2 {
    font-weight: bold;
}
.gallery_section .gallery_container {
    position: relative;
    max-width: 1500px;
    margin: auto;
}
.gallery_section .gallery_container .gallery_bg {
    position: absolute;
    width: 100%;
    top: 10%;
    margin-left: 0;
    transform: rotate(45deg);
    z-index: -1;
}
.gallery_section .gallery_container .gallery_bg img {
    width: 100%;
}
.gallery_section .gallery_container .gallery_box {
    width: 85%;
    margin: auto;
}
.gallery_section .gallery_container .box {
    display: flex;
}
.gallery_section .gallery_container .box.b1 .img-box {
    margin-left: 8%;
}
.gallery_section .gallery_container .box.b3 {
    justify-content: flex-end;
}
.gallery_section .gallery_container .box.b4 {
    justify-content: flex-start;
}
.gallery_section .gallery_container .box.b4 .img-box {
    margin-left: 8%;
}
.gallery_section .gallery_container .box .img-box {
    position: relative;
    margin: 10px;
    border-radius: 35px;
    overflow: hidden;
    width: 350px;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
.gallery_section .gallery_container .box .img-box img {
    width: 100%;
}

