*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu",sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::selection{
    background-color: #48dbfb60;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color: #353b48;
}

.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: 90px;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: #48dbfb !important;
}

.sticky{
    background-color: #fff;
    padding: 1px 0;
}

.sticky .navbar-menu a{
    color: #111;
}

.sticky .menu-toggler span{
    background-color: #111;
}

#home{
    min-height: calc(100vh - 60px);
    background: #696464;
    background-blend-mode: darken;
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: bganimation 15s infinite;
}

@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home .content{
    width: 100%;
    color: #fff;
}

#home .content h1{
    font-size: 60px;
    margin-bottom: 60px;
}


.sm a{
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover{
    color: #48dbfb;
}

#home .buttons{
    margin-top: 60px;
}

#home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
    background-color: #48dbfb;
    color: #fff;
}

section{
    padding: 200px 0;
    background-color: #f1f1f1;
}

.section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
}

.section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
}

section.dark{
    background-color: #353b48;
}

section.dark .section-title{
    color: #f1f1f1;
}

section.dark .section-title::before{
    background-color: #f1f1f1;
}

section.dark .section-title::after{
    border: 4px solid #353b48;
}

.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service{
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #48dbfb;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

.service .icon{
    color: #48dbfb;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
}

.service h4{
    font-size: 16px;
    margin-bottom: 6px;
}


.service:hover .icon{
    color: #fff;
}

.services .buttonserv a{
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}

.services .buttonserv a:hover,
.services .buttonserv a:nth-child(2)
{
    background-color: #48dbfb;
    color: #fff;
}

.time-line,.works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block{
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    word-break: break-all;
}

.block::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.block::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #48dbfb;
    left: -28px;
    top: 30px;
    border-radius: 50%;
}

.block h3{
    font-size: 16px;
    margin: 10px 0;
}

.block p{
    font-size: 15px;
    color: #444;
}

.buttons{
    margin-top: 1px;
}

.buttons a{
    display: inline-block;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
    text-align: center;
}

.buttons a:hover,
.buttons a:nth-child(2)
{
    background-color: #48dbfb;
    color: #fff;
}

.form-control-file{
    position: absolute;
    opacity: 0 !important;
}


.profile-card{
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header{
    background: #2c3a47;
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc{
    font-size: 18px;
    color: #e66767;
}

.sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sm a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.sm a:hover{
    color: #e66767;
}

.contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}

.contact-btn:hover{
    background: #e66767;
    color: #f2f2f2;
}

.card-footer{
    background: #f4f4f4;
    padding: 60px 10px;
}

.numbers{
    display: flex;
    align-items: center;
}

.item{
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
}

.item span{
    display: block;
    color: #2c3a47;
    font-size: 20px;
}

.border{
    width: 1px;
    height: 30px;
    background: #bbb;
}

.contact-section{
    background-size: cover;
    padding: 40px 0;
}
.contact-section h1{
    text-align: center;
    color: #ddd;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}


.blog-posts{
    width: min(1200px, 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.post{
    width: calc(33% - 10px);
    overflow: hidden;
}

.post-img{
    width: 75%;
    border-radius: 6px;
    transition: .3s linear;
}

.post-content{
    background-color: #0c5d73;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-60px);
    transition: .3s linear;
}

.post-content h3{
    color: #ef417b;
    font-size: 16px;
    margin-bottom: 10px;
}

.date{
    font-size: 15px;
    font-style: italic;
    color: #e77f67;
}

.buttonadmin{
    margin-top: 20px;
}

.post:hover .post-img{
    transform: translateY(20px);
}

.post:hover .post-content{
    transform: translateY(-80px);
}

@media screen and (max-width: 1200px){
    .blog-posts{
        justify-content: center;
    }
    .post{
        width: min(600px, 100%);
    }
}

.pagination{
    display: flex;
    position: relative;
    overflow: hidden;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination a{
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #333;
    font-size: 25px;
    font-weight: 700;
    transition: .3s linear;
    border-radius: 5%;
    background: white;
}

.pagination a:hover{
    color: #12d612;
}


.containersouv{
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.pricing-table{
    background: inherit;
    flex: 1;
    margin: 10px;
    text-transform: uppercase;
}

.pricing-header{
    color: inherit;
    position: relative;
    margin-bottom: 20px;
}

.price{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.price span{
    font-size: 30px;
}

.titlesouv{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    width: 80%;
    max-width: 360px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
}

.pricing-list{
    padding: 10px 20px;
}

.pricing-list li{
    margin: 8px 0;
    font-size: 14px;
    color: #25b0b0;
    text-align: center;
}

.border{
    width: 80px;
    height: 1px;
    background: #ddd;
    margin: auto;
}

.pricing-table a{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    border: 1px solid;
    max-width: 360px;
    transition: .2s linear;
}

.pricing-table input{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    border: 1px solid;
    max-width: 360px;
    transition: .2s linear;
    cursor: pointer;
}

.pricing-table a:hover{
    border-radius: 30px;
}

.pricing-table input:hover{
    border-radius: 30px;
}

.table3 .pricing-header{
    background: inherit;
}

.table3 .titlesouv{
    background-image: linear-gradient(125deg,#e74c3c,#f39c12);
}

.table3 input{
    color: #2980b9;
}

.table3 a{
    color: #c0392b;
}


.table3 a:hover{
    background: #c0392b;
    color: #fff;
}

@media screen and (max-width:780px) {
    .pricing-table{
        flex: 100%;
    }

    .pagination{
        flex: 100%;
    }
}

label {
    color: white;
}


footer{
    background: #454040;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.copyright{
    margin-bottom: 20px;
    font-size: 15px;
}

.copyright a{
    font-size: 16px;
    color: #48dbfb;
    font-weight: 500;
}

.goTop{
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #48dbfb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: none;
}

@media screen and (max-width: 980px){
    .menu-toggler{
        display: block;
    }

    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #353b48;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a{
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }

    .sticky .navbar-menu{
        background-color: #f1f1f1;
    }

    .navbar-menu.active{
        right: 0;
    }

    .menu-toggler.active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2){
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
    }

    .inner-width{
        max-width: 800px;
    }

    .service{
        width: calc(50% - 20px);
    }

    .block{
        width: calc(100% - 20px);
        margin-left: auto;
    }

}

@media screen and (max-width: 600px){
    .inner-width{
        padding: 0 20px;
    }

    .skill{
        width: 100%;
    }

    .service{
        width: 100%;
    }

}


.about-section{
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h3{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    color: black;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}


.message-section{
    width: 100%;
    background: inherit;
    padding: 40px 0;
    color: white;
}
.message-width{
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}
.message-section h1{
    text-align: center;
}
.border{
    width: 100px;
    height: 3px;
    background: #e74c3c;
    margin: 40px auto;
}
.message-section-row{
    display: flex;
    flex-wrap: wrap;
}
.message-section-col{
    flex: 50%;
}
.about{
    padding-right: 30px;
}
.about p{
    text-align: justify;
    margin-bottom: 20px;
}
.about a{
    display: inline-block;
    color: #e74c3c;
    text-decoration: none;
    border: 2px solid #e74c3c;
    border-radius: 24px;
    padding: 8px 40px;
    transition: 0.4s linear;
}
.about a:hover{
    color: #fff;
    background: #e74c3c;
}
.skillsmessage{
    padding-left: 0px;
}
.skillm{
    margin-bottom: 10px;
}
.progress{
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 12px;
}
.progress-bar{
    height: 12px;
    background: #e74c3c;
    border-radius: 12px;
}

.progress-bar span{
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color: #fff;
    font-size: 12px;
}
@media screen and (max-width:700px) {
    .message-section-col{
        flex: 100%;
        margin: 10px 0;
    }
    .about,.skills{
        padding: 0;
    }
    .about{
        text-align: center;
    }
}



/* Стиль списка */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: inherit;
    text-align: left;
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
    color: #dce9dc;
    text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
    color: #0a0909;
}

#home h2{
    font-size: 50px;
}

